<p>product-list works!</p>

<div *ngFor="let product of products">
  <h3>
    {{ product.name }}
  </h3>
</div>

<h3>將屬性值顯示在頁面上</h3>
Hello World, {{ name }}
<hr>
<h3>購物車訂購金額計算</h3>
<div>產品單價: {{ unitPrice }}</div>
<div>訂購數量: {{ purchaseCount }}</div>
<div>金額小計: {{ unitPrice * purchaseCount }}</div>

<h3>事件繫節 (Event Binding)</h3>
<p>&lt;any-tag&gt; (事件名稱)="方法" &lt;/any-tag&gt;</p>
<button type="button" (click)="onSetFontSize(1)">
  增加 1 pt
</button>
<button type="button" (click)="onSetFontSize(-1)">
  減少 1 pt
</button>
<p>目前文字尺寸: {{ fontSize }}</p>
